<% cart.line_items.each do |line_item| %>
  <p><%= link_to line_item.item.title, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price*line_item.quantity) %> | Quantity: <%= line_item.quantity %> | <% if line_item.item.inventory < 5 %>
    <strong>There are only <%= line_item.item.inventory %> left in stock.</strong>
  <% end %> </p>
<% end %>

<% if !cart.line_items.empty? %>
  <p>Order total: <strong><%= number_to_currency(cart.total) %></strong> </p>
<% end %>

<%= button_to 'Checkout', checkout_path unless cart.submitted? %>